.simpleCard {
  --ifm-link-hover-decoration: none;
  --ifm-link-color: var(--arrow-grey-primary);
}

.simpleCard:hover {
  --ifm-heading-color: var(--ifm-color-primary-dark);
  --ifm-link-hover-color: var(--arrow-grey-primary);
}

.icon {
  margin-right: calc(var(--ifm-global-spacing) / 2);
}

.cardHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.body {
  min-height: 3rem;
  line-height: 1.5rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.link::after {
  content: '';
  border: solid var(--ifm-link-color);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
  margin-left: 8px;
  transition: margin-left var(--ifm-transition-fast);
}

.link:hover {
  text-decoration: none;
}

.link:hover.link::after {
  margin-left: 16px;
}
