.verticalRhythm {
  margin-bottom: calc(2 * var(--ifm-spacing-vertical));
}

.projectsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--ifm-spacing-vertical) var(--ifm-spacing-horizontal);
}

@media (--ifm-narrow-window) {
  .projectsContainer {
    grid-template-columns: 1fr;
  }
}

