.hero {
  position: relative;
  z-index: 1;
}

.hero::before {
  background-image: url('@site/static/img/arrow-brand-icon.svg');
  background-repeat: no-repeat;
  background-size: auto 150%;
  background-position: max(-400px, calc(100vw - 3000px)) bottom;
  width: 100%;
  height: 600px;
  content: '';
  position: absolute;
  left: 0;
  pointer-events: none;
  z-index: -1;
  transition: opacity var(--ifm-transition-fast);
  opacity: 0.3;
}

.hero::after {
  background-image: url('@site/static/img/hero-pattern.svg');
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  right: 0;
  pointer-events: none;
  z-index: -2;
  transition: opacity var(--ifm-transition-fast);
}

@media (--ifm-narrow-window) {
  .hero::before {
    opacity: 0.1;
  }

  .hero::after {
    opacity: 0.5;
  }
}

/*
 * The .container class duplication is a subtle trick to increase the specificity of
 * this selector, as it would clash with an infima styling otherwise. CSS injection
 * order is affecting this. But it doesn't seem like is an easy task to solve.
 * More info:
 *
 * https://github.com/facebook/docusaurus/issues/3678
 */
 .container.container {
  max-width: 700px;
}

u {
  text-decoration: none;
  box-shadow: 0 4px var(--arrow-color-secondary);
  white-space: nowrap;
}

@media (--arrow-mobile-window) {
  u {
    white-space: normal;
  }
}

.subtitle {
  font-weight: normal;
}

.ctaList {
  display: flex;
  flex-direction: row;
  gap: var(--ifm-spacing-horizontal);
  justify-content: center;
  margin-top: calc(2 * var(--ifm-spacing-vertical));
}

@media (--arrow-mobile-window) {
  .ctaList {
    flex-direction: column;
  }
}

