.borderlessCard {
  border: none;
}

.borderlessCard:hover {
  box-shadow: none;
  transform: none;
}

.infoMode {
  text-align: center;
}

.icon {
  margin-right: calc(var(--ifm-global-spacing) / 2);
}

.infoMode .icon {
  margin-right: 0;
}

.cardHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.infoMode .cardHeader {
  flex-direction: column;
}

.title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  white-space: pre-wrap;
}

.cardBody,
.cardFooter {
  padding: calc(var(--ifm-card-vertical-spacing) / 2)
    var(--ifm-card-vertical-spacing) var(--ifm-card-vertical-spacing)
    var(--ifm-card-vertical-spacing);
}

.link::after {
  content: '';
  border: solid var(--ifm-link-color);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
  margin-left: 8px;
  transition: margin-left var(--ifm-transition-fast);
}

.link:hover {
  text-decoration: none;
}

.link:hover.link::after {
  margin-left: 16px;
}
