/* Fonts */
@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/static/fonts/Inter-Roman-Var.woff2') format('woff2');
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #497bf7;
  --ifm-color-primary-dark: #2455cf;
  --ifm-color-primary-darker: #2455cf;
  --ifm-color-primary-darkest: #2455cf;
  --ifm-color-primary-light: #497bf7;
  --ifm-color-primary-lighter: #497bf7;
  --ifm-color-primary-lightest: #497bf7;

  --ifm-color-secondary: #faa73a;

  --arrow-grey-primary: #222e51;
  --arrow-grey-secondary: #222e51;

  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --ifm-font-family-base: 'Inter', open sans, sans-serif, system-ui,
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  --ifm-heading-color: var(--arrow-grey-primary);
  --ifm-font-color-base: var(--arrow-grey-secondary);

  --ifm-global-radius: 0;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #2d9dff;
  --ifm-color-primary-dark: #0f8fff;
  --ifm-color-primary-darker: #0088ff;
  --ifm-color-primary-darkest: #0070d2;
  --ifm-color-primary-light: #4babff;
  --ifm-color-primary-lighter: #5ab2ff;
  --ifm-color-primary-lightest: #87c7ff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Navbar */
.navbar__inner {
  margin: 0 auto;
  max-width: var(--ifm-container-width-xl);
}

/* Pagination bottom buttons not needed */
.pagination-nav {
  display: none;
}

/* Dropdowns being shown as line carets */
.dropdown > .navbar__link::after {
  border-color: currentColor;
  border-width: 0 0.3em 0.3em 0;
  top: 0.3em;
  transform: rotate(45deg) translateY(-50%) scale(50%);
  padding: 0.3em;
  margin-left: 0;
}

.hero {
  height: 600px;
  text-align: center;
}

.button {
  font-family: var(--ifm-font-family-base);
}